<h1><%= @title = 'Add equipment type.' %></h1>

<% form_for(@kind) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= button_submit %>
  </p>
<% end %>

