<h1><%= h(@user.login) %></h1>

<%= link_to image_tag('/images/icons/pencil.png'), edit_user_path(@user) %>
<%= link_to image_tag('/images/icons/bin_closed.png'), @user, :confirm => 'Are you sure?', :method => :delete %>

<%= h(@user.email) %>

