<h1>Editing example</h1>

<% form_for(@example) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to '[show]', @example %> |
<%= link_to '[all]', examples_path %>
