<h1>Editing manufacturer</h1>

<%= link_to '[show]', @manufacturer %>

<% form_for(@manufacturer) do |f| %>
  <%= f.error_messages %>


  <%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
