<h1>New manufacturer</h1>

<% form_for(@manufacturer) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

