<h1><%= @title = 'Add Location' %></h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'fields', :locals => {:f => f} %>
  <p>
    <%= button_submit %>
  </p>
<% end %>
